@model Mackowiak.GameCatalog.Web.Models.DeveloperViewModel

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="Edit" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>